.discover {
  .container {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
  }
  &_left_part {
    margin-top: 50px;
    width: 510px;
    .discover_title {
      h1 {
        margin: 20px;
      }
      p {
        color: var(--whitecolor);
        font-size: 1.375rem;
        font-weight: 400;
        margin: 20px;
        line-height: 35px;
      }

      .responsive_gifImage {
        display: none;
      }
    }
    .get_started_btn {
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background-color: var(--purplecolor);
        border: none;
        border-radius: 20px;
        gap: 12px;
        height: 60px;
        padding: 0px 40px;
        color: var(--whitecolor);
        transition: all 0.3s ease;
        font-size: 1.1rem;
        margin: 40px 0px 0px 20px;
        &:hover {
          transform: scale(0.95);
        }
      }
    }
    .additional_info {
      display: flex;
      justify-content: space-between;
      margin: 40px 0px 0px 20px;
      .info {
        color: var(--whitecolor);
        font-size: 1.6rem;
        font-weight: 700;
        font-family: "Space Mono", monospace;
        .title {
          font-size: 1.2rem;
          font-weight: 400;
        }
      }
    }
  }
  &_right_part {
    img {
      width: 510px;
      height: 510px;
      margin-top: 50px;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 1280px) {
  .container {
    display: flex;
    justify-content: center !important;
  }

  .discover_left_part {
    width: 330px !important;
    gap: 20px !important;
  }
  .discover_title h1 {
    margin: 20px 0px 0px 10px !important;
    font-size: 2.255rem !important;
    font-weight: 600 !important;
    line-height: 45px !important;
  }

  .discover_title p {
    font-size: 1rem !important;
    line-height: 22px !important;
    margin: 20px 0px 0px 10px !important;
  }

  .get_started_btn button {
    margin: 20px 0px 0px 10px !important;
  }

  .additional_info {
    margin: 20px 0px 0px 10px !important;
  }

  .discover_right_part img {
    width: 330px !important;
    height: 330px !important;
    gap: 20px !important;
  }
}

@media only screen and (max-width: 834px) {
  .discover_title h1 {
    font-size: 1.75rem !important;
    font-weight: 600 !important;
  }

  .discover_title p {
    font-size: 1rem !important;
    font-weight: 400 !important;
  }
  .discover_right_part img {
    display: none;
  }
  .responsive_gifImage {
    display: block !important;
    width: 315px !important;
    height: 315px !important;
  }
  .get_started_btn button {
    width: 315px;
  }
}
