.MarketPlace{
    &_top{
      background-color: var(--backgroundcolor);
      .container{
        margin: auto;
        width: 80%;
      } 
      &_header{
        padding: 80px 0px;
        color: var(--whitecolor);
        p{
            font-size: 1.375rem;
            font-weight: 400;
            margin-top: 10px;
        }
      }
      &_searchbar{
        display: flex;
        align-items: center;
        position: relative;
        margin-top: 30px;
        input{
          color: var(--textcolor);
          padding-left: 20px;
            width: 100%;
            height: 62px;
            background-color: transparent;
            border: 1px solid var(--secondarybackgroundcolor);
            border-radius: 20px;
            font-size: 1.1rem;
            outline: none;
        }
        .search_icon{
            position: absolute;
            right: 20px;
            color: var(--secondarybackgroundcolor);
            font-size: 1.5rem;
        }
      }
      .page_titles{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
        margin: auto;
        div{
          cursor: pointer;
          width: 50%;
          height: 60px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: var(--whitecolor);
          font-size: 1.375rem;
          font-weight: 600;
        }
      }
    }
    &_bottom{
      border-bottom: 2px solid var(--backgroundcolor);
      background-color: var(--secondarybackgroundcolor);
      .bottom_cards {
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;
        padding: 40px 0px;
        .card {
          width: 330px;
          height: 469px;
          padding: 20px 0px;
          border-radius: 20px;
          background-color: var(--backgroundcolor);
          position: relative;
          cursor: pointer;
          transition: all 0.3s ease;
          &:hover {
            transform: scale(0.95);
          }
          &_img_part {
            border-radius: 20px 20px 0px 0px;
            height: 290px;
            img {
              height: 285px;
              position: absolute;
              width: 100%;
              left: 0;
              top: 0;
            }
          }
          &_info {
            padding: 15px;
            .card_info_top {
              h5 {
                color: var(--whitecolor);
                margin-bottom: 10px;
              }
            }
            .card_info_artist {
              display: flex;
              align-items: center;
              gap: 10px;
              img {
                width: 24px;
                height: 24px;
              }
              p {
                color: var(--whitecolor);
                font-family: "Space Mono", monospace;
                font-size: 1rem;
              }
            }
            .card_info_bottom {
              margin-top: 10px;
              display: flex;
              justify-content: space-between;
              .additional {
                p {
                  font-size: 0.75rem;
                  color: var(--textcolor);
                  font-family: "Space Mono", monospace;
                }
                span {
                  color: var(--whitecolor);
                  font-family: "Space Mono", monospace;
                  font-size: 1rem;
                }
              }
            }
          }
        }
      }
    }
}