.footer {
  background-color: var(--secondarybackgroundcolor);
  .container {
    padding: 40px;
    margin: auto;
    width: 80%;
  }
  &_top {
    display: flex;
    gap: 70px;
    .top_first_part {
      color: var(--textcolor);
      font-size: 1rem;
      p {
        margin: 20px 0px;
      }
      .social_media {
        img {
          cursor: pointer;
        }
      }
    }

    .top_second_part {
      h5 {
        font-family: "Space Mono", monospace;
        color: var(--whitecolor);
        font-weight: 700;
        font-size: 1.375rem;
      }
      p {
        margin: 20px 0px;
        color: var(--textcolor);
        font-size: 1rem;
        font-weight: 400;
      }
    }
    .top_third_part {
      h5 {
        color: var(--whitecolor);
        font-size: 1.375rem;
        font-weight: 700;
        font-family: "Space Mono", monospace;
      }
      p {
        margin: 20px 0px;
        color: var(--textcolor);
        font-size: 1rem;
        font-weight: 400;
        line-height: 22px;
      }
      .subscribe {
        position: relative;
        display: flex;
        align-items: center;
        gap: 12px;
        input {
          background-color: var(--whitecolor);
          text-align: left;
          border: none;
          height: 60px;
          width: 100%;
          border-radius: 20px;
          padding-left: 20px;
          font-size: 1.1rem;
        }
        button {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          background-color: var(--purplecolor);
          border: none;
          border-radius: 20px;
          gap: 12px;
          height: 60px;
          padding: 0px 40px;
          right: 0;
          color: var(--whitecolor);
          font-size: 1rem;
          transition: all 0.3s ease;
          right: 0;
          &:hover {
            transform: scale(0.95);
            transform-origin: center;
          }
        }
      }
    }
  }
  .line {
    background-color: var(--textcolor);
    width: 100%;
    height: 2px;
    margin-top: 20px;
  }
  &_bottom {
    color: var(--textcolor);
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 13px;
    margin-top: 20px;
  }
}
